* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
} 
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.menu {
  float: right;
  justify-content: space-between;
  width: 70%;
}



/*navbar*/
nav {
  display: flex;
  background-color: #12372A;
  justify-content: space-around;
  /* padding: 20px 0; atas bawah 20  kiri kanan 0 */
  /* atur padding dengan flex */
  height: 60px;
  align-items: center;
  color: whitesmoke;
}
nav ul {
  display: flex;
  list-style-type: none;
  width: 40%;
  justify-content: space-between;
  transition: all 0.4s;
  margin: 0;
  padding: 0;
}

nav .logo {
  font-family: 'Courier New', Courier, monospace, cursive;
  letter-spacing: 4px; /*space antar char*/
  color: #FFFFFF;
  font-size: 45px;
}
.logo span {
  font-family:'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
  color: #436850;
  font-size: 30px;
}


nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  padding : 0px;
}


nav ul li a:hover {
  color: teal;
  text-decoration: underline;
}

section {
  margin:auto;
  display: flex;
  margin-bottom: 50px;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: #436850;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 25px;
  color: #ADBC9F;
  line-height: 50px;
}

a.biru {
  background : #436850;
  border-radius: 30x;
  margin-top: 30px;
  padding: 15px 20px 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}



  .image {
   
    width: 300px;
    height: 300px;  
    border-radius: 50%; /* Membuat foto menjadi bulat */
    margin-bottom: 10px; /* Memberi jarak ke bawah antara foto dan teks */
    text-align: center;
    align-items: center;
    justify-content: center;
  }

.container {
    display: flex;
    flex-direction: column;

    border: 2px solid #ADBC9F;
    padding: 8px;
    border-radius: 5px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: row;
}

.box {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Menengahkan elemen secara horizontal */
  text-align: center; /* Menengahkan teks */
}
/* supaya ada jarak antar box  */
.flexone{
flex-grow: 1;
}
.flextwo{
    flex-grow: 2;
    }
footer {
    text-align: center;
}
h1 {
  
    text-align: center;
    color: #12372A;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: inter-word;
    word-wrap: break-word;

}
h5 {
  text-align: center;
  color: red;
  word-wrap: break-word;
}

h3 {
  display: flex;
  justify-content: center; /* Menengahkan konten secara horizontal */
  align-items: center; /* Menengahkan konten secara vertikal */
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

q {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #12372A;
  text-align: center;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 37px;
  color: #FFFFFF;
  text-align: center;
}

table {
  width: 100%; /* Agar tabel mengisi lebar container */
  border-collapse: collapse; /* Menghilangkan celah antara sel-sel */
}

table, th, td {
  border: 1px solid black; /* Menambahkan garis pada tabel */
  padding: 8px; /* Memberi padding pada sel */
}

